<br>
 <div class="jumbotron">
   <h1>CheckItOff</h1>
   <p>CheckItOff is a resource to keep you organized when everything around you is going crazy!</p>
   <p>
     <%= link_to "Sign In", new_user_session_path %> or
     <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
   </p>
 </div>

 <div class="row">
   <div class="col-md-4">
     <h2>C</h2>
     <p>B.</p>
   </div>
   <div class="col-md-4">
     <h2>G</h2>
     <p>B.</p>
   </div>
   <div class="col-md-4">
     <h2>C</h2>
     <p>B!</p>
   </div>
 </div>
